In [111]:
import pandas as pd
import numpy as np

In [112]:
train = pd.read_csv('final_train2.csv')
test = pd.read_csv('final_test2.csv')
df = pd.concat([train, test], axis = 0)

In [113]:
train.shape

(33760, 31)

In [114]:
def p25(series):
    return series.quantile(0.25)

def p75(series):
    return series.quantile(0.75)

In [115]:
book = {}
for brand in df['oem'].unique():
    var_name = f"{brand}"
    temp = df.loc[df.oem == brand]
    count = temp['model'].value_counts()
    count.columns = ['model', 'count']
    ana = temp.groupby(['model'])['listed_price'].agg([np.mean, min, p25, p75, max])
    book[var_name] = pd.concat([ana, count], axis = 1)

In [116]:
book['toyota']

,mean,min,p25,p75,max,model
toyota camry,2.006810e+06,250000.0,1201000.00,2274500.00,4750000.0,35
toyota corolla,2.127661e+05,120000.0,147500.00,245000.00,400000.0,15
toyota corolla altis,6.028592e+05,180000.0,293612.75,891250.00,1650000.0,116
toyota etios,2.938389e+05,165267.0,242250.00,350000.00,450000.0,60
toyota etios 2014-2016,4.346266e+05,290000.0,357298.00,500000.00,590000.0,25
toyota etios cross,4.295714e+05,325000.0,360000.00,480000.00,690000.0,21
toyota etios liva,3.464601e+05,199999.0,275469.00,400000.00,600000.0,74
toyota fortuner,1.939462e+06,600000.0,1200000.00,2713367.00,4799999.0,217
toyota fortuner legender,4.724500e+06,4599000.0,4661750.00,4787250.00,4850000.0,2
toyota glanza,7.170502e+05,530000.0,670000.00,760000.00,898000.0,45
toyota hilux,3.750000e+06,3750000.0,3750000.00,3750000.00,3750000.0,1
toyota innova,6.489989e+05,140000.0,432500.00,836250.00,1475000.0,254
toyota innova crysta,1.913018e+06,1150000.0,1625000.00,2100000.00,3125000.0,253
toyota land cruiser,9.300000e+06,9099999.0,9199999.25,9399999.75,9500000.0,2
toyota platinum etios,6.104380e+05,450000.0,535000.00,675000.00,875000.0,13
toyota prado,9.999990e+05,999999.0,999999.00,999999.00,999999.0,1
toyota prius,8.000000e+05,800000.0,800000.00,800000.00,800000.0,1
toyota qualis,2.057273e+05,75000.0,150000.00,237500.00,490000.0,11
toyota urban cruiser,9.939663e+05,700000.0,929067.00,1084250.00,1200000.0,52
toyota vellfire,9.966667e+06,9300000.0,9600000.00,10300000.00,10700000.0,3
toyota yaris,8.682143e+05,650000.0,800000.00,931250.00,1160000.0,28

In [117]:
book['skoda']

,mean,min,p25,p75,max,model
skoda fabia,2.046142e+05,80000.0,150000.00,250000.0,385000.0,82
skoda karoq,2.001391e+06,1700000.0,1850695.50,2152086.5,2302782.0,2
skoda kodiaq,2.760758e+06,2190000.0,2691250.25,2924750.0,3050000.0,16
skoda kushaq,1.458134e+06,890934.0,1248500.00,1673500.0,2013000.0,67
skoda new laura,3.293329e+05,100000.0,245000.00,382508.0,1000000.0,69
skoda octavia,1.193735e+06,125000.0,790001.00,1575000.0,3290000.0,141
skoda rapid,5.888871e+05,200000.0,375001.00,795000.0,1300000.0,449
skoda slavia,1.500765e+06,900000.0,1303413.50,1765500.0,1980000.0,31
skoda superb,1.065314e+06,240000.0,410000.00,1650000.0,3500000.0,141
skoda yeti,5.350769e+05,250000.0,390666.25,675000.0,978676.0,16

In [118]:
book['datsun']

                         mean       min       p25       p75       max  model
datsun go       247271.842105  130000.0  191529.0  286924.0  543735.0     95
datsun go plus  334783.437500  164745.0  261751.5  374694.5  600000.0     64
datsun redigo   282785.010101  155000.0  219131.5  334250.0  483000.0    198

In [119]:
a = pd.Series([2,3,5,4,3,5,3,4,5,5,2])
b= []
for i in a.index:
    if (a[i] >= 4).all():
        b.append(i)
b

[2, 3, 5, 7, 8, 9]

In [120]:
indices = []
for model in df['model'].unique():
        temp2 = df.loc[df.model == model]
        #Creating an upper bound to drop outliers
#A good assumption for high outliers would be 
# greater than (0.75 percentile) + 0.25 *(0.75 percentile) 
        _75p = temp2['listed_price'].quantile(0.75)
        upper_bound = 1.25 * _75p
        for i in temp2.index:
            if (temp2['listed_price'][i] >= upper_bound).all():
                indices.append(i)

In [121]:
max(indices)#therefore all indices are in train itself
train = train.drop(indices, axis = 0)

In [122]:
train.reset_index(drop = True)

,myear,transmission,fuel,km,oem,model,variant,Valve Configuration,Turbo Charger,Kerb Weight,...,Steering Type,Front Brake Type,Rear Brake Type,Tyre Type,exterior_color,listed_price,avg_measure,Features,Valves,Tread
0,2013,manual,petrol,74211.0,toyota,toyota corolla altis,1.8 j,dohc,False,1180.000000,...,power,ventilated disc,disc,tubeless radial,white,440000.0,3150.0,47.0,16,1532.500000
1,2014,manual,petrol,73259.0,hyundai,hyundai i10,sportz,dohc,False,942.867696,...,power,ventilated disc,drum,tubeless radial,white,252915.0,2590.0,43.0,16,1392.500000
2,2018,manual,petrol,74275.0,hyundai,hyundai i20,1.2 spotz,dohc,False,1066.000000,...,power,disc,drum,tubeless,silver,475000.0,2859.5,69.0,16,1504.000000
3,2015,automatic,petrol,58212.0,mercedes-benz,mercedes-benz s-class,s 500 l,dohc,True,2200.000000,...,power,disc,disc,tubeless radial,blue,5399999.0,3688.0,89.0,32,1630.500000
4,2019,manual,petrol,16093.0,maruti,maruti baleno,delta,dohc,False,865.000000,...,power,disc,drum,tubeless radial,blue,583412.0,2870.0,71.0,16,1520.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31060,2013,manual,petrol,97937.0,hyundai,hyundai i10,sportz option,dohc,False,942.867696,...,power,ventilated disc,drum,tubeless radial,black,272000.0,2590.0,49.0,16,1392.500000
31061,2018,manual,petrol,96156.0,maruti,maruti wagon r,vxi bs iv,dohc,False,885.000000,...,power,ventilated disc,drum,tubeless,grey,350000.0,2547.0,58.0,12,1292.500000
31062,2013,automatic,petrol,56535.0,volkswagen,volkswagen polo,gt tsi,dohc,True,942.867696,...,power,disc,drum,tubeless radial,black,478000.0,2826.0,57.0,16,1463.000000
31063,2021,automatic,petrol,4250.0,nissan,nissan magnite,turbo cvt xv prm opt dt,sohc,True,1039.000000,...,power,disc,drum,tubeless radial,silver,950000.0,2876.0,103.0,12,1524.137462
31064,2018,automatic,diesel,48591.0,tata,tata nexon,1.5 revotorq xza plus,dohc,True,1305.000000,...,power,disc,drum,tubeless radial,orange,950000.0,2902.5,74.0,16,1535.000000

In [124]:
book['nissan']

,mean,min,p25,p75,max,model
nissan evalia,4.975000e+05,270000.0,383750.0,611250.00,725000.0,2
nissan kicks,1.002352e+06,625000.0,900000.0,1099999.75,1600001.0,30
nissan magnite,7.571064e+05,483000.0,630000.0,855099.00,1101000.0,100
nissan micra,2.839145e+05,70000.0,200000.0,350000.00,600000.0,154
nissan micra active,3.233206e+05,147840.0,250000.0,399035.00,513000.0,58
nissan sunny,3.084056e+05,150000.0,217982.0,350000.00,731210.0,118
nissan teana,5.344950e+05,250000.0,281742.5,676742.50,1040000.0,3
nissan terrano,4.654799e+05,230000.0,380000.0,520000.00,900000.0,185
nissan x-trail,1.700000e+05,170000.0,170000.0,170000.00,170000.0,1

In [127]:
train.to_csv('final_train_nooutliers.csv', index = False)